<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
</head>
<link rel="stylesheet" href="/app.css">

<body ng-app='app'>


<!-- angular version -->
<div ng-controller='PostsCtrl' class='container'>

	<!-- Input field -->
	<input ng-model='postBody' class='form-control' />

	<!-- Post button -->
	<button ng-click='addPost()' class='btn btn-default'>Add Post</button>
	<h1>Recent Posts</h1>
	<ul class='list-group'>
		<li ng-repeat='post in posts|limitTo:5' class='list-group-item'>
			<strong>@{{post.username}}</strong>
			<span>{{post.body}}</span>
		</li>
	</ul>
</div>

<div ng-init="showGraph()" ng-controller="GraphCtrl" class='container'>
	<button ng-click='showGraph()', class=btn btn-default>Show Graph</button>
</div>
<div id="chart">
	</div>
<!-- load angular js (using current version) -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
<script src='/app.js'></script>

<!-- Load c3.css -->
<link href="/c3/c3.css" rel="stylesheet">

<!-- Load d3.js and c3.js -->
<script src="/d3/d3.js" charset="utf-8"></script>
<script src="/c3/c3.js"></script>

</body>
</html>