<!DOCTYPE html>
<html>
<head>
	<link rel = "stylesheet"
	href = "https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">
	<script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
	<script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular-animate.min.js"></script>
	<script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular-aria.min.js"></script>
	<script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular-messages.min.js"></script>
	<script src = "https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>
	<script type = "text/javascript">    
		angular.module('app', ['ngMaterial']);
	</script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
	<link rel="stylesheet" href="/app.css">
	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
	<link rel="manifest" href="/site.webmanifest">
	<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
	<meta name="msapplication-TileColor" content="#da532c">
	<meta name="theme-color" content="#ffffff">
</head>

<body ng-app='app' ng-cloak>
	<md-toolbar class = "md-warn">
		<div class = "md-toolbar-tools">
			<h2 class = "md-flex">Augustinermuehle</h2>
		</div>
	</md-toolbar>
	<md-card>
		<md-card-header>
			<md-card-header-text>
				Leistung
			</md-card-header-text>
		</md-card-header>
		<md-card-content flex layout-padding>
			<div ng-init="showGraph()" ng-controller="GraphCtrl" class='container'>
				<div id="power"></div>
				<span>Leistung: {{lastPower}} kW</span>
				<md-button ng-click='zoomGraphIn()', class=btn btn-default>Zoom in</md-button>
				<md-button ng-click='zoomGraphOut()', class=btn btn-default>Zoom out</md-button>

			</div>

			<div ng-controller="CleansingCtrl" class='container' layout="column">
				<md-content class = "md-padding">
					<!-- <md-button class = "md-raised md-primary" ng-click='reinigungsKlappe()'>Reinigungsklappe</md-button> -->
					<md-button class = "md-raised md-primary" ng-click=''>Ein Knopf der nichts tut</md-button>
				</md-content>
			</div>

			<script src='/app.js'></script>
			<link href="https://cdnjs.cloudflare.com/ajax/libs/c3/0.3.0/c3.min.css" rel="stylesheet">
			<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js" charset="utf-8"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/c3/0.3.0/c3.min.js"></script>
		</md-card-content>
	</md-card>
</body>
</html>
